<div class="uk-section-default uk-section uk-section-small" style="min-height: 325px">
  <div class="uk-container uk-container-large" style="min-height: 500px;">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h2">Guides and Tutorials</h1>
        <!--<hr class="uk-divider-small">-->
        <p>Here you can find updated presentations,
          video tutorials and training materials on different features of the CarRIS Portal for users and service providers.</p>


        <div class="uk-container uk-container-large uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">


            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">

              <h3 class="uk-h3 uk-margin-remove-bottom">For Users</h3>

              <div class="uk-card">
                <div class="uk-card-body" style="padding-bottom: 20px;">

                    <div class="uk-grid">
                      <div class="uk-width-1-5">
                        <div class="uk-margin-small-top">
                          <img class="uk-border-rounded" alt="CatRIS Portal Tutorials Introduction"
                               src="src/assets/images/guides/CatRIS Portal Tutorials Introduction.jpg">
                        </div>
                      </div>

                      <div class="uk-width-4-5">
                        <h3 class="uk-h3 uk-margin-remove-bottom">CatRIS Portal Tutorials Introduction</h3>
                        <div class="uk-margin-bottom">
                          <span class="uk-text-small">v3.00 - 27/11/2020</span>
                        </div>
                        <div class="uk-margin-small-top">
                          <p class="uk-margin-remove-bottom">Dr. Jorge-A. Sanchez-P., Dr. Nikos Vogiatzis, Dr. Yannis Mitsos, Antonis Zervas, JNP</p>
                          <p class="uk-margin-remove-bottom">Dr. Ana Helman, Dr. Xavier Meyer, ESF</p>
                          <p class="uk-margin-remove-bottom">Dr. Giorgos Giannopoulous, Dr. George Papastefanatos, UOA</p>
                        </div>

                        <div class="uk-margin-small-top">
                          <a href="src/assets/files/1-CatRIS-Portal-Introduction-Tutorial-v3.0-2020-11-27.pdf"
                            class="uk-button button-gray" target="_blank">Read tutorial</a>
<!--                          <button class="uk-margin-left uk-button button-gray" type="button">Watch video presentation</button>-->
                        </div>
                      </div>
                    </div>

                </div>
              </div>

              <h3 class="uk-h3 uk-margin-remove-bottom">For Service Providers</h3>

              <div class="uk-card">
                <div class="uk-card-body" style="padding-bottom: 20px;">

                  <div class="uk-grid">
                    <div class="uk-width-1-5">
                      <div class="uk-margin-small-top">
                        <img class="uk-border-rounded" alt="CatRIS Provider and Service Onboarding Tutorial"
                             src="src/assets/images/guides/CatRIS Provider and Service Onboarding Tutorial.jpg">
                      </div>
                    </div>

                    <div class="uk-width-4-5">
                      <h3 class="uk-h3 uk-margin-remove-bottom">CatRIS Provider and Service Onboarding Tutorial</h3>
                      <div class="uk-margin-bottom">
                        <span class="uk-text-small">v3.00 – 07/12/2020</span>
                      </div>
                      <div class="uk-margin-small-top">
                        <p class="uk-margin-remove-bottom">Dr. Jorge-A. Sanchez-P., Dr. Nikos Vogiatzis, Dr. Yannis Mitsos, Dr. Afrodite Sevasti, Antonis Zervas, JNP</p>
                        <p class="uk-margin-remove-bottom">Dr. Ana Helman, Dr. Xavier Meyer, ESF</p>
                        <p class="uk-margin-remove-bottom">Dr. Giorgos Giannopoulous, Dr. George Papastefanatos, UOA</p>
                      </div>

                      <div class="uk-margin-small-top">
                        <a href="src/assets/files/2-CatRIS-Portal-Provider-and-Service-Onboarding-Process-Tutorial-v3.0-2020-12-08.pdf"
                           class="uk-button button-gray" target="_blank">Read tutorial</a>
<!--                        <button class="uk-margin-left uk-button button-gray" type="button">Watch video presentation</button>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="uk-card">
                <div class="uk-card-body" style="padding-bottom: 20px;">

                  <div class="uk-grid">
                    <div class="uk-width-1-5">
                      <div class="uk-margin-small-top">
                        <img class="uk-border-rounded" alt="CatRIS Provider and Service Profiles Tutorial"
                             src="src/assets/images/guides/CatRIS Provider and Service Profiles Tutorial.jpg">
                      </div>
                    </div>

                    <div class="uk-width-4-5">
                      <h3 class="uk-h3 uk-margin-remove-bottom">CatRIS Provider and Service Profiles Tutorial</h3>
                      <div class="uk-margin-bottom">
                        <span class="uk-text-small">v3.00 – 27/11/2020</span>
                      </div>
                      <div class="uk-margin-small-top">
                        <p class="uk-margin-remove-bottom">Dr. Jorge-A. Sanchez-P., Dr. Nikos Vogiatzis, Dr. Yannis Mitsos, Antonis Zervas, JNP</p>
                      </div>

                      <div class="uk-margin-small-top">
                        <a href="src/assets/files/3-CatRIS-Portal-Provider-and-Service-Profiles-Tutorial-v3.0-2020-12-07.pdf"
                           class="uk-button button-gray" target="_blank">Read tutorial</a>
<!--                        <button class="uk-margin-left uk-button button-gray" type="button">Watch video presentation</button>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="uk-card">
                <div class="uk-card-body" style="padding-bottom: 20px;">

                  <div class="uk-grid">
                    <div class="uk-width-1-5">
                      <div class="uk-margin-small-top">
                        <img class="uk-border-rounded" alt="CatRIS Provider Dashboard Tutorial"
                             src="src/assets/images/guides/CatRIS Provider Dashboard Tutorial.jpg">
                      </div>
                    </div>

                    <div class="uk-width-4-5">
                      <h3 class="uk-h3 uk-margin-remove-bottom">CatRIS Provider Dashboard Tutorial</h3>
                      <div class="uk-margin-bottom">
                        <span class="uk-text-small">v3.00 – 04/12/2020</span>
                      </div>
                      <div class="uk-margin-small-top">
                        <p class="uk-margin-remove-bottom">Dr. Giorgos Giannopoulos, Dr. George Papastefanatos, Konstantinos Spyrou, Stefania Martziou, Antonis Lempesis, NKUA</p>
                      </div>

                      <div class="uk-margin-small-top">
                        <a href="src/assets/files/4-CatRIS-Portal-Provider-Dashboard-Tutorial-v3.0-2020-12-07.pdf"
                           class="uk-button button-gray" target="_blank">Read tutorial</a>
<!--                        <button class="uk-margin-left uk-button button-gray" type="button">Watch video presentation</button>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="uk-card">
                <div class="uk-card-body" style="padding-bottom: 20px;">

                  <div class="uk-grid">
                    <div class="uk-width-1-5">
                      <div class="uk-margin-small-top">
                        <img class="uk-border-rounded" alt="CatRIS Catalogue API Guide"
                             src="src/assets/images/guides/CatRIS Catalogue API Guide.jpg">
                      </div>
                    </div>

                    <div class="uk-width-4-5">
                      <h3 class="uk-h3 uk-margin-remove-bottom">CatRIS Catalogue API Guide</h3>
                      <div class="uk-margin-bottom">
                        <span class="uk-text-small">v3.00</span>
                      </div>
                      <div class="uk-margin-small-top">
                        <p class="uk-margin-remove-bottom">Dr. Giorgos Giannopoulos, Dr. George Papastefanatos, Konstantinos Spyrou, Stefania Martziou, Antonis Lempesis, NKUA</p>
                      </div>

                      <div class="uk-margin-small-top">
                        <a href="src/assets/files/CatRIS Catalogue API Guide.pdf"
                           class="uk-button button-gray" target="_blank">Read tutorial</a>
<!--                        <button class="uk-margin-left uk-button button-gray" type="button">Watch video presentation</button>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>
